<!DOCTYPE html>
<html lang='{{ LANGUAGE_CODE }}'>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background-color:blue; color:white; padding:25px;">
                    <h1>
                        {% block head %}
                        {% endblock %}
                    </h1>
                </div>

                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}


                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>